body {
    margin: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.button-default {
    padding: 16px 20px;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #629dff;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
        color: #fff;
        background-color: #2e5bfb;
    }
    &:focus {
        outline: none;
    }
    &:active {
        transition: 0.1s ease;
        background-color: #3400f6;
        transform: scale(0.98);
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.question-btn {
    font-size: 16px;
    line-height: 19px;
    color: #365001;
    padding: 13px 20px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    &:focus {
        outline: none;
    }
    &:hover {
        color: #000;
        background-color: #fff;
    }
    &:active {
        transition: 0.1s ease;
        transform: scale(0.98);
    }
}
