body {
    margin: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.button-default {
    padding: 16px 20px;
    background-color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #629dff;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
        color: #fff;
        background-color: #2e5bfb;
    }
    &:focus {
        outline: none;
    }
    &:active {
        transition: 0.1s ease;
        background-color: #3400f6;
        transform: scale(0.98);
    }
}

@keyframes nextPage {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.fade-enter-active {
    transition: transform 0.8s, opacity 0.4s;
    transition-delay: 0s;
    width: 100%;
    position: fixed;
    left: 0;
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}

.fade-enter-to {
    transform: translateX(0);
    background-attachment: scroll;
    height: 100vh;
    overflow: hidden;
    opacity: 1;
}
.fade-leave-active {
    transition: transform 0.8s, opacity 0.4s;
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        z-index: 2000;
        animation: nextPage 1s linear normal;
    }
}
.fade-leave-to {
    transform: translateX(-100%);
    opacity: 1;
}

.question-enter-active {
    transform: translateX(5%);
    transition: transform 0.4s, opacity 0.4s;
}
.question-leave-active {
    transform: translateX(-5%);
    transition: transform 0.4s, opacity 0.4s;
}
.question-enter,
.question-leave-to {
    opacity: 0;
}

.question-enter-to {
    transform: translateX(0);
}

.question-btn {
    font-size: 16px;
    line-height: 19px;
    color: #365001;
    padding: 13px 20px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    &:focus {
        outline: none;
    }
    &:hover {
        color: #000;
        background-color: #fff;
    }
    &:active {
        transition: 0.1s ease;
        transform: scale(0.98);
    }
}

.content-container {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    @media all and (max-width: 699px) {
        padding: 0 16px;
        width: 100%;
    }
}
